.reader-wrapper {
    display: flex;
    position: relative;
    min-width: 320px;
    margin-top: 50px;
}
  
.reader {
    background: var(--page-background);
    display: flex;
    flex-direction: column; /* column for the To: 阿天 and iMessage send */
    align-items: stretch;
    justify-content: center;
    text-align: center;
    /* dumped over properties from container until it worked */
    overflow-y: scroll;
    min-width: calc(100% - 320px);
}

/* TOP BAR */

.top-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 50px;
    /* padding: 15px; */
    background: rgba(51,51,51,1);
    z-index: 2;
    line-height: calc(24px * 7/10);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: calc(20px * 7/10);
    letter-spacing:calc(-0.24px * 7/10);
    backdrop-filter: blur(10px);
}
  
.to-name {
    color: #959695;
    margin-left: 20px;
    user-select: none;
}
  
.to-name:hover {
    cursor: default;
}
  
.name {
    color: white;
    margin-left: 2px;
    width: fit-content;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    transition: background-color 500ms ease-in-out 0ms;
    user-select: none;
}
  
.name:hover {
    background: #15406b;
    cursor: default;
}
  
.name::selection, .to-name::selection {
    background: rgba(0, 0, 0, 0);
}

/* BOTTOM BAR */
  
.bot-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0px;
    width: calc(100% - 2 * 15px);
    height: calc(60px - 2 * 15px);
    z-index: 2;
    padding: 15px;
    background: rgba(30, 30, 30, 0.75);
    /* must use webkit for tauri */
    -webkit-backdrop-filter: blur(20px);
    /* for now just for reading */
}
  
.switch {
    margin-right: 15px;
    height: 20px;
    width: 20px;
    /* background: rgba(255, 145, 145, 0.75); */
    background-image: url("../assets/dark/moon.fill.svg");
    background-size: contain;
}
  
.emoji {
    margin-left: 15px;
    height: 20px;
    width: 20px;
    /* background: rgba(145, 145, 255, 0.75); */
    background-image: url("../assets/dark/face.smiling.inverse.svg");
    background-size: contain;
}

.search {
  /* initial styling */
  flex-grow: 1;
  height: 30px;
  border: 1px solid #545454;
  border-radius: 12px;
  padding-left: 10px;
  display: flex; 
  justify-content: left;
  align-items: center;

  /* text styling */
  font-weight: 400;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: -0.24px;
  /* color: #545454; */
  color: white;
  background: rgba(0,0,0,0);
  outline: none;
  caret-color: white;
}